@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    .font-outline-1 {
        -webkit-text-stroke: 1px white;
        color: transparent;
    }

    .font-outline-2 {
        -webkit-text-stroke: 2px white;
        color: transparent;
    }

    .font-outline-4 {
        -webkit-text-stroke: 4px white;
        color: transparent;
    }

    .font-archivo-black {
        font-family: 'Archivo Black', sans-serif;
    }

    .font-oswald {
        font-family: 'Oswald', sans-serif;
    }

    .writing-vertical-lr {
        writing-mode: vertical-lr;
    }

    .cursor {
        position: fixed;
        width: 2rem;
        height: 2rem;
        border-width: 3px;
        pointer-events: none;
        border-color: white;
        transform: translate(-50%, -50%);
    }

    .light-bar {
        position: fixed;
        width: 24rem;
        height: 120%;
        transform: translate(-50%);
    }
}