::-webkit-scrollbar {
    width: 6px;     /* Tamaño del scroll en vertical */
    height: 6px;    /* Tamaño del scroll en horizontal */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 4px;
}

/* Cambiamos el thumb cuando esté en active o hover */
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
    background: #ecf1f6;
}
